/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 16 oct. 2022, 14:23:38
    Author     : German
*/


/*///////////////////////////   START ESTILOS GENERALES////////////////////////*/
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    /*background-color: #ffffff;*/
    background-image: url("../img/img/pexels-photo-3779434.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
body img{
    width: 100%;
}
/*///////////////////////////   END ESTILOS GENERALES////////////////////////*/

/*///////////////////////////   START ESTILOS LOGIN////////////////////////*/
.cont-index{
    /*background-color: #333333;*/
    justify-content: center;
    align-items: center;
}
.cont-login{
    margin-top: 150px;
}
.cont-form{
    margin: 10px auto;
    background-color: rgba(241, 241, 241, 0.4);
    border-radius: 15px;
    padding: 15px;
}
form{
    width: 100%;
}
#modal-register{
    background-color: rgba(45, 98, 193, 0.5);
}
.modal-content{
    background-color: rgba(241, 241, 241, 0.5);
    /*z-index: 0;*/
}
#form_register{
    width: 75%;
    background-color: rgba(227, 236, 255, 0.9);
    margin: 10px auto;
}
.input-group{
    width: 100%;
    margin-bottom: 3px;
    align-content: center;
    align-items: center;
}
form span{
    margin-right: 5px;
}
form input{
    width: 100%;
    display: inline;
    margin-bottom: 5px;
}
.btn-login{
    width: 100%;
}
form button{
    width: 100%;
    margin-bottom: 5px;
}
form input:focus{
    border-color: rgba(80, 135, 255);
    box-shadow: 0 1px 1px rgba(80, 135, 255, 0.075)inset, 0 0 8px rgba(80, 135, 255,0.6);
    outline: 0 none;
}
/*///////////////////////////   END ESTILOS LOGIN////////////////////////*/