/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 16 oct. 2022, 14:23:38
    Author     : German
*/

/* ////////////////////////////// NAVEGADOR  WEB ////////////////////////////////// */
*{
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
    box-sizing: border-box;
}
body{
   background-color: #efefef;
}
.capa{
    background-color: #000;
    opacity: 0.6;
    position: absolute;
    width: 100%;
    height: 90vh;
    z-index: 1;
}
.cont{
    background-color: rgb(239, 239, 239, 0.4);
    text-align: center;
    padding: 20px;
}
section{
    width: 100%;
    padding: 20px;
}
.section{
    background-color: red;
    /*background-color: #878DA3;*/
}
section .cont-form{
    width: 30%;
    border: 1px solid brown;
    margin: 15px auto;
}
form{
    margin:  auto;
    padding: 5px;
}
form input{
    width: 90%;
    display: block;
    margin: 8px auto;
}

/* ////////////////////////////// NAVEGADOR  MOVIL ////////////////////////////////// */